idea
.idea/
.slcache/
.asscache
*.iws
/target/
*.iml
*.ipr
*Db.properties
*Db.script
.classpath
.settings
.project
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
